In [1]:
import pandas as pd

In [2]:
# import all datasets
binance = pd.read_csv('Binance_Coin_data.csv')
bitcoin = pd.read_csv('bitcoin_data.csv')
cardano = pd.read_csv('Cardano_data.csv')
chainLink = pd.read_csv('ChainLink_data.csv')
ethereum = pd.read_csv('Ethereum_data.csv')
litecoin = pd.read_csv('Litecoin_data.csv')
polkadot = pd.read_csv('Polkadot_data.csv')
stellar = pd.read_csv('Stellar.csv')
tether = pd.read_csv('Tether_data.csv')
xrp = pd.read_csv('XRP_data.csv')

In [3]:
binance.head()

,Date,Open,High,Low,Close,Volume,Market Cap
0,28-02-2021,225.445941,228.173046,195.852670,209.574404,3.129699e+09,3.238612e+10
1,27-02-2021,221.980905,237.179435,220.099401,225.249443,2.755271e+09,3.480842e+10
2,26-02-2021,235.270287,238.755012,210.310761,221.680429,4.167146e+09,3.425689e+10
3,25-02-2021,254.467606,264.705134,233.885956,233.885956,4.059853e+09,3.614305e+10
4,24-02-2021,231.121604,280.088196,214.524714,254.359132,7.154122e+09,3.930683e+10

In [4]:
# rename all column names
binance_new = binance.rename(columns = { 'Open' : 'binance_open', 'High': 'binance_high', 'Low':'binance_low', 'Close' : 'binance_close','Volume': 'binance_volume', 'Market Cap' : 'binance_MarketCap'})

bitcoin_new = bitcoin.rename(columns = { 'Open' : 'bitcoin_open', 'High': 'bitcoin_high', 'Low':'bitcoin_low', 'Close' : 'bitcoin_close','Volume': 'bitcoin_volume', 'Market Cap' : 'bitcoin_MarketCap'})

cardano_new = cardano.rename(columns = { 'Open' : 'cardano_open', 'High': 'cardano_high', 'Low':'cardano_low', 'Close' : 'cardano_close','Volume': 'cardano_volume', 'Market Cap' : 'cardano_MarketCap'})

chainLink_new = chainLink.rename(columns = { 'Open' : 'chainLink_open', 'High': 'chainLink_high', 'Low':'chainLink_low', 'Close' : 'chainLink_close','Volume': 'chainLink_volume', 'Market Cap' : 'chainLink_MarketCap'})

ethereum_new = ethereum.rename(columns = { 'Open' : 'ethereum_open', 'High': 'ethereum_high', 'Low':'ethereum_low', 'Close' : 'ethereum_close','Volume': 'ethereum_volume', 'Market Cap' : 'ethereum_MarketCap'})

litecoin_new = litecoin.rename(columns = { 'Open' : 'litecoin_open', 'High': 'litecoin_high', 'Low':'litecoin_low', 'Close' : 'litecoin_close','Volume': 'litecoin_volume', 'Market Cap' : 'litecoin_MarketCap'})

polkadot_new = polkadot.rename(columns = { 'Open' : 'polkadot_open', 'High': 'polkadot_high', 'Low':'polkadot_low', 'Close' : 'polkadot_close','Volume': 'polkadot_volume', 'Market Cap' : 'polkadot_MarketCap'})

stellar_new = stellar.rename(columns = { 'Open' : 'stellar_open', 'High': 'stellar_high', 'Low':'stellar_low', 'Close' : 'stellar_close','Volume': 'stellar_volume', 'Market Cap' : 'stellar_MarketCap'})

tether_new = tether.rename(columns = { 'Open' : 'tether_open', 'High': 'tether_high', 'Low':'tether_low', 'Close' : 'tether_close','Volume': 'tether_volume', 'Market Cap' : 'tether_MarketCap'})

xrp_new = xrp.rename(columns = { 'Open' : 'xrp_open', 'High': 'xrp_high', 'Low':'xrp_low', 'Close' : 'xrp_close','Volume': 'xrp_volume', 'Market Cap' : 'xrp_MarketCap'})

In [5]:
binance_new.head()

,Date,binance_open,binance_high,binance_low,binance_close,binance_volume,binance_MarketCap
0,28-02-2021,225.445941,228.173046,195.852670,209.574404,3.129699e+09,3.238612e+10
1,27-02-2021,221.980905,237.179435,220.099401,225.249443,2.755271e+09,3.480842e+10
2,26-02-2021,235.270287,238.755012,210.310761,221.680429,4.167146e+09,3.425689e+10
3,25-02-2021,254.467606,264.705134,233.885956,233.885956,4.059853e+09,3.614305e+10
4,24-02-2021,231.121604,280.088196,214.524714,254.359132,7.154122e+09,3.930683e+10

In [6]:
bitcoin_new.head()

,Date,bitcoin_open,bitcoin_high,bitcoin_low,bitcoin_close,bitcoin_volume,bitcoin_MarketCap
0,28-02-2021,46194.016352,46716.430993,43241.618227,45137.770468,5.344389e+10,8.414290e+11
1,27-02-2021,46344.772237,48253.270101,45269.025766,46188.451275,4.591095e+10,8.609781e+11
2,26-02-2021,47180.464054,48370.785260,44454.842114,46339.760083,3.509679e+11,8.637523e+11
3,25-02-2021,49709.082425,51948.966982,47093.853019,47093.853019,5.450657e+10,8.777661e+11
4,24-02-2021,48835.087661,51290.136695,47213.498162,49705.333316,6.369552e+10,9.263931e+11

In [7]:
cardano_new.head()

,Date,cardano_open,cardano_high,cardano_low,cardano_close,cardano_volume,cardano_MarketCap
0,28-02-2021,1.323619,1.361114,1.166092,1.308059,1.573256e+10,4.069697e+10
1,27-02-2021,1.242145,1.476653,1.234138,1.324860,1.914198e+10,4.121970e+10
2,26-02-2021,1.080828,1.290047,0.995150,1.241105,1.488414e+10,3.861387e+10
3,25-02-2021,1.051349,1.172732,1.017986,1.079116,8.248286e+09,3.357399e+10
4,24-02-2021,0.954958,1.074832,0.902583,1.051657,8.481335e+09,3.271965e+10

In [8]:
chainLink_new.head()

,Date,chainLink_open,chainLink_high,chainLink_low,chainLink_close,chainLink_volume,chainLink_MarketCap
0,28-02-2021,26.233127,26.753890,23.075171,24.663533,2.019852e+09,1.011228e+10
1,27-02-2021,25.197746,27.390610,24.906771,26.235097,1.874411e+09,1.075664e+10
2,26-02-2021,24.734231,26.948970,23.761681,25.187313,1.705493e+11,1.032704e+10
3,25-02-2021,28.073373,28.556830,24.595960,24.668047,2.016769e+09,1.007713e+10
4,24-02-2021,25.827651,29.178788,24.645512,28.086719,3.087990e+09,1.147369e+10

In [9]:
ethereum_new.head()

,Date,ethereum_open,ethereum_high,ethereum_low,ethereum_close,ethereum_volume,ethereum_MarketCap
0,28-02-2021,1459.860435,1468.391510,1300.472117,1416.048906,2.763703e+10,1.626504e+11
1,27-02-2021,1446.929455,1524.932428,1433.786929,1459.973121,2.074210e+10,1.676759e+11
2,26-02-2021,1478.653270,1559.028891,1407.979253,1446.033650,3.143600e+10,1.660555e+11
3,25-02-2021,1625.393882,1670.224062,1465.058946,1475.703735,2.448168e+10,1.694427e+11
4,24-02-2021,1571.476497,1710.983795,1511.018963,1626.575705,3.132900e+10,1.867440e+11

In [10]:
litecoin_new.head()

,Date,litecoin_open,litecoin_high,litecoin_low,litecoin_close,litecoin_volume,litecoin_MarketCap
0,28-02-2021,172.102185,172.646172,154.799796,164.927173,5.945000e+09,1.097866e+10
1,27-02-2021,170.431423,179.929872,167.908789,172.100447,4.991079e+09,1.145486e+10
2,26-02-2021,179.128519,182.075844,163.248248,170.398153,7.875998e+09,1.134030e+10
3,25-02-2021,181.385422,204.743842,176.032145,178.901843,7.327999e+09,1.190489e+10
4,24-02-2021,176.966769,189.165459,169.789009,181.378501,7.205360e+09,1.207051e+10

In [11]:
polkadot_new.head()

,Date,polkadot_open,polkadot_high,polkadot_low,polkadot_close,polkadot_volume,polkadot_MarketCap
0,28-02-2021,33.454475,34.608173,29.963149,33.607256,4.567617e+09,3.072342e+10
1,27-02-2021,31.396252,35.524110,31.396252,33.449366,4.507279e+09,3.056786e+10
2,26-02-2021,31.143730,33.497752,28.104011,31.346090,5.147314e+09,2.863586e+10
3,25-02-2021,33.621172,35.079181,31.059273,31.080660,3.470267e+09,2.838641e+10
4,24-02-2021,34.330861,36.752569,31.975445,33.633546,4.724242e+09,3.070688e+10

In [12]:
stellar_new.head()

,Date,stellar_open,stellar_high,stellar_low,stellar_close,stellar_volume,stellar_MarketCap
0,28-02-2021,0.441513,0.451634,0.386119,0.406651,1.888503e+09,9.159071e+09
1,27-02-2021,0.401020,0.470942,0.401020,0.441458,2.799346e+09,9.943038e+09
2,26-02-2021,0.382205,0.401098,0.357837,0.400678,1.387062e+09,9.024535e+09
3,25-02-2021,0.407084,0.425786,0.381269,0.381269,1.320644e+09,8.577766e+09
4,24-02-2021,0.386795,0.432824,0.370403,0.407240,1.862050e+09,9.162057e+09

In [13]:
tether_new.head()

,Date,tether_open,tether_high,tether_low,tether_close,tether_volume,tether_MarketCap
0,28-02-2021,1.001221,1.002484,1.000833,1.002115,1.064899e+11,3.505142e+10
1,27-02-2021,0.999960,1.001311,0.999374,1.001178,9.471004e+10,3.502403e+10
2,26-02-2021,1.000075,1.000379,0.998726,0.999994,1.246241e+11,3.500996e+10
3,25-02-2021,1.000746,1.001207,0.999795,1.000149,1.054643e+11,3.492798e+10
4,24-02-2021,0.999995,1.000882,0.999538,1.000757,1.290074e+11,3.491021e+10

In [14]:
xrp_new.head()

,Date,xrp_open,xrp_high,xrp_low,xrp_close,xrp_volume,xrp_MarketCap
0,28-02-2021,0.437764,0.439440,0.397699,0.414953,4.325860e+09,1.884055e+10
1,27-02-2021,0.427904,0.457596,0.427904,0.437809,4.756623e+09,1.987829e+10
2,26-02-2021,0.434941,0.450440,0.415559,0.427900,6.476254e+09,1.942839e+10
3,25-02-2021,0.471776,0.482517,0.429103,0.434524,5.952354e+09,1.972912e+10
4,24-02-2021,0.474201,0.499370,0.454759,0.471832,8.015469e+09,2.142305e+10

In [15]:
# size of datasets
print('shape of binance',binance_new.shape)
print('shape of bitcoin',bitcoin_new.shape)
print('shape of cardano',cardano_new.shape)
print('shape of chainLink',chainLink_new.shape)
print('shape of ethereum',ethereum_new.shape)
print('shape of litecoin',litecoin_new.shape)
print('shape of polkadot',polkadot_new.shape)
print('shape of stellar',stellar_new.shape)
print('shape of tether',tether_new.shape)
print('shape of xrp',xrp_new.shape)

shape of binance (1315, 7)
shape of bitcoin (2864, 7)
shape of cardano (1247, 7)
shape of chainLink (1258, 7)
shape of ethereum (2033, 7)
shape of litecoin (2864, 7)
shape of polkadot (193, 7)
shape of stellar (2400, 7)
shape of tether (2191, 7)
shape of xrp (2766, 7)

In [16]:
# merge all datasets
dataset = pd.merge(cardano_new,polkadot_new,on = ['Date'], how = 'left')
dataset = pd.merge(dataset,chainLink_new,on=['Date'], how= 'right')
dataset = pd.merge(dataset,binance_new,on= ['Date'], how = 'right')
dataset = pd.merge(dataset,ethereum_new,on= ['Date'], how = 'right')
dataset = pd.merge(dataset,tether_new,on=['Date'], how = 'right' )
dataset = pd.merge(dataset,stellar_new,on=['Date'], how= 'right')
dataset = pd.merge(dataset,xrp_new,on=['Date'], how = 'right')
dataset = pd.merge(dataset, litecoin_new, on = ['Date'], how = 'right')
dataset = pd.merge(dataset, bitcoin_new, on= ['Date'], how = 'right')
dataset

,Date,cardano_open,cardano_high,cardano_low,cardano_close,cardano_volume,cardano_MarketCap,polkadot_open,polkadot_high,polkadot_low,...,litecoin_low,litecoin_close,litecoin_volume,litecoin_MarketCap,bitcoin_open,bitcoin_high,bitcoin_low,bitcoin_close,bitcoin_volume,bitcoin_MarketCap
0,28-02-2021,1.323619,1.361114,1.166092,1.308059,1.573256e+10,4.069697e+10,33.454475,34.608173,29.963149,...,154.799796,164.927173,5.945000e+09,1.097866e+10,46194.016352,46716.430993,43241.618227,45137.770468,5.344389e+10,8.414290e+11
1,27-02-2021,1.242145,1.476653,1.234138,1.324860,1.914198e+10,4.121970e+10,31.396252,35.524110,31.396252,...,167.908789,172.100447,4.991079e+09,1.145486e+10,46344.772237,48253.270101,45269.025766,46188.451275,4.591095e+10,8.609781e+11
2,26-02-2021,1.080828,1.290047,0.995150,1.241105,1.488414e+10,3.861387e+10,31.143730,33.497752,28.104011,...,163.248248,170.398153,7.875998e+09,1.134030e+10,47180.464054,48370.785260,44454.842114,46339.760083,3.509679e+11,8.637523e+11
3,25-02-2021,1.051349,1.172732,1.017986,1.079116,8.248286e+09,3.357399e+10,33.621172,35.079181,31.059273,...,176.032145,178.901843,7.327999e+09,1.190489e+10,49709.082425,51948.966982,47093.853019,47093.853019,5.450657e+10,8.777661e+11
4,24-02-2021,0.954958,1.074832,0.902583,1.051657,8.481335e+09,3.271965e+10,34.330861,36.752569,31.975445,...,169.789009,181.378501,7.205360e+09,1.207051e+10,48835.087661,51290.136695,47213.498162,49705.333316,6.369552e+10,9.263931e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2859,02-05-2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.007170,3.371980,0.000000e+00,5.828798e+07,116.379997,125.599998,92.281898,105.209999,0.000000e+00,1.168517e+09
2860,01-05-2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.520290,3.801010,0.000000e+00,6.560460e+07,139.000000,139.889999,107.720001,116.989998,0.000000e+00,1.298955e+09
2861,30-04-2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.168960,4.296490,0.000000e+00,7.402092e+07,144.000000,146.929993,134.050003,139.000000,0.000000e+00,1.542813e+09
2862,29-04-2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.225640,4.383900,0.000000e+00,7.538896e+07,134.444000,147.488007,134.000000,144.539993,0.000000e+00,1.603769e+09
2863,28-04-2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.184650,4.348400,0.000000e+00,7.463694e+07,135.300003,135.979996,132.100006,134.210007,0.000000e+00,1.488567e+09

In [17]:
dataset.to_csv('crypto_dataset.csv')